.u-section-1 .u-sheet-1 {
  min-height: 4182px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  width: 680px;
  margin: 55px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 13px 447px 0 13px;
}

.u-section-1 .u-text-3 {
  margin: 20px 13px 0 14px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 448px;
  height: auto;
  background-image: none;
  width: 1100px;
  margin: 17px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 15px 30px 0;
}

.u-section-1 .u-text-5 {
  margin: 71px 14px 0;
}

.u-section-1 .u-custom-html-2 {
  min-height: 615px;
  background-image: none;
  width: 1107px;
  margin: 15px auto 0;
}

.u-section-1 .u-text-6 {
  margin: 0 30px;
}

.u-section-1 .u-text-7 {
  margin: 32px 14px 0;
}

.u-section-1 .u-custom-html-3 {
  min-height: 541px;
  height: auto;
  width: 1080px;
  background-image: none;
  margin: 12px auto 0;
}

.u-section-1 .u-text-8 {
  margin: 12px 30px 0;
}

.u-section-1 .u-text-9 {
  margin: 30px 14px 0;
}

.u-section-1 .u-custom-html-4 {
  min-height: 473px;
  background-image: none;
  width: 1097px;
  margin: 13px auto 0;
}

.u-section-1 .u-text-10 {
  margin: 0 28px 0 0;
}

.u-section-1 .u-text-11 {
  margin: 27px 14px 0;
}

.u-section-1 .u-custom-html-5 {
  min-height: 506px;
  height: auto;
  background-image: none;
  width: 1080px;
  margin: 12px auto 0;
}

.u-section-1 .u-text-12 {
  margin: 13px 14px 0;
}

.u-section-1 .u-text-13 {
  margin: 79px 14px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    width: 680px;
    margin-left: 0;
    margin-right: 260px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-1 {
    width: 940px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-2 {
    width: 570px;
    height: auto;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-3 {
    width: 940px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-4 {
    width: 570px;
    height: auto;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-5 {
    width: 940px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 40px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 720px;
  }

  .u-section-1 .u-custom-html-3 {
    width: 720px;
  }

  .u-section-1 .u-custom-html-5 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-1 {
    width: 540px;
  }

  .u-section-1 .u-custom-html-2 {
    width: 540px;
  }

  .u-section-1 .u-custom-html-3 {
    width: 540px;
  }

  .u-section-1 .u-custom-html-4 {
    width: 540px;
  }

  .u-section-1 .u-custom-html-5 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 340px;
  }

  .u-section-1 .u-custom-html-2 {
    width: 340px;
  }

  .u-section-1 .u-custom-html-3 {
    width: 340px;
  }

  .u-section-1 .u-custom-html-4 {
    width: 340px;
  }

  .u-section-1 .u-custom-html-5 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 3246px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 21px 1007px 0 20px;
}

.u-section-2 .u-text-2 {
  margin: 20px 20px 0;
}

.u-section-2 .u-image-1 {
  width: 1100px;
  height: 756px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 8px 30px 0;
}

.u-section-2 .u-text-4 {
  margin: 42px 20px 0;
}

.u-section-2 .u-image-2 {
  width: 1011px;
  height: 512px;
  margin: 8px auto 0;
}

.u-section-2 .u-text-5 {
  margin: 55px 20px 0;
}

.u-section-2 .u-image-3 {
  width: 613px;
  height: 613px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-6 {
  margin: 0 30px;
}

.u-section-2 .u-text-7 {
  margin: 20px 20px 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  text-transform: uppercase;
  background-image: none;
  margin: 13px auto 42px 8px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3100px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 827px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 940px;
    height: 646px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 40px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    width: 940px;
    height: 476px;
    margin-top: 50px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-bottom: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2838px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 607px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 495px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 57px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -7px;
  }

  .u-section-2 .u-image-2 {
    width: 720px;
    height: 365px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 25px;
  }

  .u-section-2 .u-text-7 {
    margin-top: -5px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2550px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 427px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 371px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 46px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 4px;
  }

  .u-section-2 .u-image-2 {
    width: 540px;
    height: 274px;
  }

  .u-section-2 .u-image-3 {
    width: 540px;
    height: 540px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 51px;
  }

  .u-section-2 .u-text-7 {
    margin-top: -31px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2112px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 227px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 234px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 104px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -76px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 173px;
  }

  .u-section-2 .u-image-3 {
    width: 340px;
    height: 340px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 128px;
  }

  .u-section-2 .u-text-7 {
    margin-top: -108px;
  }
}